.quizContainerbody {
  width: 100vw;
  height: 100vh;
  background-color: #041325;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.quizContainer {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 50vw;
  height: 50vh;
  min-width: 300px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.quizHeader {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 25px;
  color: #474444;
  text-align: center;
}
.quizCup {
  width: 15vw;
  height: 30vh;
  min-width: 200px;
}
.quizResult {
  font-weight: 700;
  font-size: 25px;
  color: #474444;
}
.quizScore{
    color: #60B84B;
}

@media (max-width: 768px) {
  .quizContainerbody {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
  }
  .quizContainer {
    width: 100vw;
    height:100vh;
    padding: 20px;
    border-radius:0px;
    gap:30px;
    display: flex;
    align-items: center;
    justify-content:center;
  }
  .quizHeader {
    font-size: 35px; 
    line-height: 45px;
    text-align: center; 
  }
  .quizCup {
    width: 80%; 
    min-width: 150px; 
    max-height: 100%;
  }
  .quizResult {
    font-size: 30px;
    text-align: center; 
  }
  .quizScore {
    font-size: 30px; 
    text-align: center; 
    margin-top: 5px; 
  }
}