.quizContainerbody {
  width: 100vw;
  height: 100vh;
  background-color: #041325;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.quizContainer {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 50vw;
  min-width: 300px;
  /* height: ; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizHeader {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #474444;
  width: 100%;
}

.quizProgress {
  font-size: 18px;
}

.quizTimer {
  color: red;
  font-size: 18px;
}

.quizQuestions {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 100%; 
  margin-bottom: 20px; 
}

.quizQuestion {
  font-size: 20px;
  font-weight: 700;
  color: #474444;
  line-height: 40px;
  text-align: left;
  margin-bottom: 10px; 
  width: 100%; 
  /* padding-left: 10px;  */
}
.quizQuestion p{
  margin-top: 10px;
  margin-bottom: 20px;
}
.quizOptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  width: 100%; 
  justify-content: center; 
  justify-items: center;
  /* padding: 0 20px; */
}

.quizOption {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 16vw;
  height: 10vh;
  min-width: 150px;
  background-color: #F0F0F0;
  font-weight:600;
  font-size: 15px;
  cursor: pointer;
}

.quizOptionSelected {
  border: 3px solid #5076FF;
}

.quizOptionsAndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.quizNextButton {
  background-color: #4caf50;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  height: 5vh;
  width: 15vw;
  min-width: 100px;
}
