.container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f8f8f8;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sidebar {
    width:15%;
    /* width: 100%; */
   
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* .content{
    width:100%;
    height:100vh;
  } */
  .logo {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center; 
    font-family: "Jomhuria", sans-serif;
  }
  .nav {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .nav li {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
  }
  .nav li.active {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
  }
  .logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logoutLine{
    width: 124px;
    border: 1px solid #000000;
  }
  .logout p{
    font-weight: 700;
    margin: 0;
    padding-top: 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  