/* body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  max-width: 60vw;
  height: 70vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  line-height: 0.5;
  font-family: "Jomhuria", sans-serif;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs button {
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.tabs button.active {
  border-radius: 5px;
  width: 150px;
  height: 37px;
  box-shadow: 0 0 15px 5px rgba(169, 188, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.form-group label {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin-right: 20px;
  width: 20vw;
  text-align: right;
  font-family: "Poppins", sans-serif;
}

.form-group input {
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  background-color: #f4f4f4;
  min-width: 20vw;
  font-size: 1rem;
  position: relative;
}

.form-group input:focus {
  border: 2px solid #d60000;
  outline: none;
}

.error-input {
  border: 2px solid #d60000;
}

.error-message {
  color: #d60000;
  font-size: 12px;
  margin-top: 5px;
  position: absolute;
  left: 6vw;
  width: 100%;
  pointer-events: none;
  align-items: left;
}

.form-group input.error-input::after {
  content: attr(data-error);
  color: #d60000;
  position: absolute;
  left: 10px;
  bottom: -20px;
  font-size: 12px;
  width: 100%;
}

.additional-class {
  margin-top: 40px;
}

.submit-btn {
  width: 274px;
  padding: 10px;
  margin-top: 10px;
  background-color: #a9bcff;
  color: #474444;
  border: none;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}
.submit-btn-login {
  width: 274px;
  padding: 10px;
  margin-top: 20px;
  background-color: #a9bcff;
  color: #474444;
  border: none;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}
.submit-btn:hover {
  background-color: #5752d6;
}
.submit-btn-login:hover {
  background-color: #5752d6;
}

@media (max-width: 768px) {
  .container {
    max-width: 60vw;
    height: auto;
    width: 80vw;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .form-container {
    margin-top: 25px;
  }

  .tabs {
    margin-bottom: 10px;
    gap: 1rem;
  }

  .form-group label {
    text-align: left;
    font-size: 1rem;
    margin-left: 4vw;
  }
  .form-group input {
    width: 5vw;
    font-size: 1rem;
    position: relative;
    margin-left: 4vw;
  }

  .tabs button {
    font-size: 1rem;
    width: auto;
    padding: 5px 10px;
    line-height: 0.5rem;
  }

  .tabs button.active {
    width: 100px;
    height: 30px;
  }

  .error-message {
    left: 0;
  }

  .submit-btn,
  .submit-btn-login {
    max-width: 80%;
  }
  .error-input {
    border: 2px solid #d60000;
  }
  
  .error-message {
    margin-top: 6.5vh;
    position: absolute;
    pointer-events: none;
    align-items: left;
  }
  
  .form-group input.error-input::after {
    left: 0;
    bottom: 0px;
    font-size: 12px;
    width: 80%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  .tabs button {
    font-size: 0.875rem;
    padding: 8px 16px;
  }

  .form-group input {
    min-width: 80%;
  }

  .error-message {
    left: 0;
    font-size: 0.625rem;
  }

  .submit-btn,
  .submit-btn-login {
    font-size: 1rem;
  }
} */

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  max-width: 60vw;
  height: 70vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  line-height: 0.5;
  font-family: "Jomhuria", sans-serif;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs button {
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.tabs button.active {
  border-radius: 5px;
  width: 150px;
  height: 37px;
  box-shadow: 0 0 15px 5px rgba(169, 188, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin-right: 5vw;
}

.form-group label {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin-right: 20px;
  width: 20vw;
  text-align: right;
  font-family: "Poppins", sans-serif;
}

.form-group input {
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  background-color: #f4f4f4;
  min-width: 20vw;
  font-size: 1rem;
  position: relative;
}

.form-group input:focus {
  border: 2px solid #d60000;
  outline: none;
}

.error-input {
  border: 2px solid #d60000;
}

.error-message {
  color: #d60000;
  font-size: 12px;
  margin-top: 5px;
  position: absolute;
  left: 24vw; /* Align error message to the left */
  width: 100%;
  padding-left: 10px;
  pointer-events: none;
  text-align: left; /* Ensure text is left-aligned */
}

.form-group input.error-input::after {
  content: attr(data-error);
  color: #d60000;
  position: absolute;
  left: 25vw; /* Align error message to the left */
  bottom: -20px;
  font-size: 12px;
  width: 100%;
  text-align: left; /* Ensure text is left-aligned */
}

.additional-class {
  margin-top: 40px;
}

.submit-btn {
  width: 274px;
  padding: 10px;
  margin-top: 10px;
  background-color: #a9bcff;
  color: #474444;
  border: none;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}
.submit-btn-login {
  width: 274px;
  padding: 10px;
  margin-top: 20px;
  background-color: #a9bcff;
  color: #474444;
  border: none;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}
.submit-btn:hover {
  background-color: #5752d6;
}
.submit-btn-login:hover {
  background-color: #5752d6;
}

@media (max-width: 768px) {
  .container {
    max-width: 60vw;
    height: auto;
    width: 80vw;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .form-container {
    margin-top: 25px;
  }

  .tabs {
    margin-bottom: 10px;
    gap: 1rem;
  }

  .form-group label {
    text-align: left;
    font-size: 1rem;
    margin-left: 4vw;
  }

  .form-group input {
    width: 5vw;
    font-size: 1rem;
    position: relative;
    margin-left: 4vw;
  }

  .tabs button {
    font-size: 1rem;
    width: auto;
    padding: 5px 10px;
    line-height: 0.5rem;
  }

  .tabs button.active {
    width: 100px;
    height: 30px;
  }

  .error-message {
    left: 0;
    margin-top: 50px;
  }

  .error-message {
    width: 100%;
    padding-left: 40px;
  }

  .submit-btn,
  .submit-btn-login {
    max-width: 80%;
  }

  .form-group input.error-input::after {
    left: 0;
    bottom: 0px;
    font-size: 12px;
    width: 80%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  .tabs button {
    font-size: 0.875rem;
    padding: 8px 16px;
  }

  .form-group input {
    min-width: 80%;
  }

  .error-message {
    left: 0; /* Ensure error message is aligned to the left */
    font-size: 0.625rem;
  }

  .submit-btn,
  .submit-btn-login {
    font-size: 1rem;
  }
}
